{% extends 'base.html' %}
{% load static %}


{% block main %}
<div class="container-xl">
    <div class="mt-4">
        <h2>MSLogística - Controle de Cotações</h2>
    </div>

    <div class="mt-2 mb-2" align="right">
        <a href="/cotacoes/cadastrar-cotacoes/" class="btn btn-primary">Cadastrar Cotações</a>
    </div>

    <div class="table-responsive">
        <table class="table ">
          <thead class="table-info">
            <tr>
              <th scope="col">POL</th>
              <th scope="col">POD</th>
              <th scope="col">CARRIER</th>
              <th scope="col">QUOTATION</th>
              <th scope="col">CMMDTY</th>
              <th scope="col">20´DV</th>
              <th scope="col">40´DV</th>
              <th scope="col">20´HC</th>
              <th scope="col">VALID</th>
              <th scope="col">DETENTION</th>
              <th scope="col">DEMURRAGE</th>
              <th scope="col">Editar</th>
                <th>Ver</th>
            </tr>
          </thead>
          <tbody>
            {% for frete in fretes %}
            <tr>
                <td>{{ frete.pol }}</td>
                <td>{{ frete.pod }}</td>
                <td>{{ frete.carrier }}</td>
                <td>{{ frete.quotation }}</td>
                <td>{{ frete.cmmdty }}</td>
                <td>{{ frete.dv20 }}</td>
                <td>{{ frete.dv40 }}</td>
                <td>{{ frete.hc40 }}</td>
                <td>{{ frete.valid|date:"d M, Y" }}</td>
                <td>{{ frete.detention }}</td>
                <td>{{ frete.demurrage }}</td>
                <td>
                    <a href="/cotacoes/editar-cotacoes/{{ frete.id }}" class="btn btn-primary">Editar</a>
                </td>

                <td>
                    <a href="/cotacoes/visualizar-cotacao/?id={{ frete.id }}" class="btn btn-info">Ver</a>
                </td>

            </tr>
            {% endfor %}
          </tbody>
        </table>
    </div>
  

</div>
{% endblock %}
