{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block main %}
<div class="container">
    <h2> #{{ vazio.id }} -  Vazio ({{ vazio.number_booking }} )</h2>

    <hr>
    <hr>
    <div>
        <p><strong>Nº. Booking:</strong> {{ vazio.number_booking }}</p>
        <p><strong>POL:</strong> {{ vazio.pol }}</p>
        <p><strong>POD:</strong> {{ vazio.pod }}</p>
        <p><strong>Navio:</strong> {{ vazio.navio }}</p>
        <p><strong>Commodity:</strong> {{ vazio.cmmdty }}</p>
        <p><strong>Eta:</strong> {{ vazio.eta }}</p>
        <p><strong>Armador:</strong> {{ vazio.armador }}</p>
        <p><strong>Quantidade:</strong> {{ vazio.quantidade }}</p>
        <p><strong>Type:</strong> {{ vazio.type }}</p>
        <p><strong>Status:</strong> {{ vazio.status }}</p>
        <p><strong>Cotação:</strong> {{ vazio.cotacao }}</p>
        <p><strong>Shipper:</strong> {{ vazio.shipper }}</p>
        <p><strong>Contrato de venda:</strong> {{ vazio.contrato_venda }}</p>
        <p><strong>Observação:</strong> {{ vazio.observacoes }}</p>

    </div>


</div>
{% endblock %}