{% extends 'base.html' %}
{% load static %}


{% block main %}
<div class="container-xl">
    <div class="mt-4">
        <h2>MSLogística</h2>
    </div>

    <div align="right">
        Exportar arquivo (dados dos Booking): <a href="exportar-csv/" class="btn btn-info" title="Exportar CSV"><i class="fas fa-file-csv"></i></a>
    </div>

    <hr>
    <hr>
    <!-- Inìcio do Controle de Vazios-->
    <div class="p-3 mb-2 bg-warning text-dark"><h5>Controle de Booking</h5></div>
    <div class="card shadow border-0">
      <div class="row">
        <div class="col-sm-4">
          <div class="card mt-2 mb-2 mr-2 ml-2 shadow border-0">
            <div class="card-body">
              <h5 class="card-title">Cadastrar Booking</h5>
              <p class="card-text">Realizar o cadastro de Booking, para disponibilizar para a venda.</p>
              <div align="right">
                <a href="/controle-vazios/cadastrar-vazio/" class="btn btn-primary">Cadastrar</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="card mt-2 mb-2 mr-2 ml-2 shadow border-0">
            <div class="card-body">
              <h5 class="card-title">Booking disponíveis ( {{ quant_vazios_disponiveis }} ) </h5>
              <p class="card-text">Lista de Booking que estão disponíveis para venda.</p>
              <div align="right">
                <a href="/controle-vazios/vazio-disponivel/" class="btn btn-primary">Visualizar</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="card mt-2 mb-2 mr-2 ml-2 shadow border-0">
            <div class="card-body">
              <h5 class="card-title">Booking vendidos ( {{ quant_vazios_vendidos }} )</h5>
              <p class="card-text">Lista de Booking, que foram concluído a venda.</p>
              <div align="right">
                <a href="/controle-vazios/vazio-vendido/" class="btn btn-primary">Visualizar</a>
              </div>
            </div>
          </div>
        </div>
        
        
      </div>
    </div>
    <!-- FIM do Controle de Vazios-->


    <hr>
    <hr>
    <!-- Inìcio do Controle de Fretes-->
    <div>
        <div class="card shadow">
            <div class="card-header bg-info">
                <h5>Cotações</h5>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-6">
                      <div class="card border-0">
                        <div class="card-body">
                            <h5>Total: {{ quant_fretes }}</h5>
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-6">
                      <div class="card border-0">
                        <div class="card-body" align="right">
                            <a href="/controle-fretes/" class="btn btn-primary">Visualizar</a>
                        </div>
                      </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- FIM do Controle de Fretes-->
</div>
{% endblock %}
